@font-face{
	font-family:avenir;
	src:url("../avenir_light.ttf") format('truetype');
}

@font-face{
	font-family:sacramento;
	src:url("../sacramento.ttf") format('truetype');
}

body{
	font-family: avenir;
	font-weight: 100;
}

img{
	max-height:100%;
}

#big-video-wrap{
	background: rgba(0,0,0,0.1);
	filter: blur(3px);
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	filter: url('/media/blur.svg#blur'); /* for Firefox */
}

#intro_text{
	font-family:sacramento;
	color:#fff;
	margin:100px 0 0;
	font-size: 100px;
	text-align: center;
	margin-bottom: 200px;
}

#intro_text span{
	color:#e65c51;
}

.description{
	background: rgba(0,0,0,0.5);
	padding:20px;
	color:#fff;
}

.description .title{
	font-size: 25px;
	margin-bottom: -15px;
	text-align: center;
}

.description .connector{
	margin-left: -140px;
}

#fixed_bottom{
	position:fixed;
	bottom:0;
	height:100px;
	background:#fff;
	opacity: 0.95;
	width:100%;
	text-align: center;
}

#logo img{
	max-height: 100px;
	width:auto;
	float:left;
}
#logo span{
	float:left;
	font-size:50px;
	margin-top: 45px;
	color:#e65c51;
}

#download_links{
	float:right;
	margin-top: 18px;
}

.screen{
	max-height: 85%;
}
/* Everything good upto 768px. */
@media only screen and (max-width: 767px) {}